$primary-pale-blue: hsl(225, 100%, 94%);
$primary-bright-blue: hsl(245, 75%, 52%);

$neu-pale-blue: hsl(225, 100%, 98%);
$neu-desaturated-blue: hsl(224, 23%, 55%);
$neu-dark-blue: hsl(223, 47%, 23%);

$border-radius-sm: 0.6875rem;

$clamp-br-min: 450px;
$clamp-br-max: 1200px;